# asgiref==3.8.1
# Django==5.1.6
# pillow==11.1.0
# sqlparse==0.5.3
# tzdata==2025.1
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.42.2
Django==5.1.6
django-cloudinary-storage==0.3.0
idna==3.10
pillow==11.1.0
psycopg2-binary==2.9.10
pygame==2.5.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.9.0
PyRect==0.2.0
pytweening==1.2.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0